body {
    margin: 0;
    font-family: Helvetica;
    color: rgb(39, 34, 34);
    line-height: 200%;
}

#intro {
    text-align: center;
    background-color: rgba(197, 183, 183, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: verdana;
    border: none;
    background-color: rgb(27, 26, 32); 
    color: white;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 12px;
}

.button:hover {
    background-color: rgb(107, 103, 103);
}

.navi {
    text-align: center;
    background-color: rgba(197, 183, 183, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.kuvat {
    text-align: center;
    background-color: rgba(49,49,49, 0.5);
    justify-content: center;
    align-items: center;
    height: 700px;
}

h4 {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #313131;
    text-align: center;
    padding-top: 10px;
    height: 200px;
}

footer div {
    width: 60%;
    padding-top: 10px;
    display: inline-block;
    color: rgb(189, 184, 184);
}