body {
    margin: 0;
    font-family: Helvetica;
    color: rgb(39, 34, 34);
    line-height: 200%;
}

#intro {
    text-align: center;
    background-color: rgba(197, 183, 183, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: verdana;
    border: none;
    background-color: rgb(27, 26, 32); 
    color: white;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 12px;
}

.button:hover {
    background-color: rgb(107, 103, 103);
}

.navi {
    text-align: center;
    background-color: rgba(197, 183, 183, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.kuvat {
    text-align: center;
    background-color: rgba(49,49,49, 0.5);
    justify-content: center;
    align-items: center;
    height: 700px;
}

h4 {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #313131;
    text-align: center;
    padding-top: 10px;
    height: 100px;
}

footer div {
    width: 60%;
    padding-top: 10px;
    display: inline-block;
    color: rgb(189, 184, 184);
}

/* -------------------------------------------
body {
    margin: 0;
    font-family: Helvetica;
    color: #fff;
    line-height: 200%;
}

h1 {
    margin: 0;
    color: #fff;
}

.row {
    width: 100%;
    padding: 50px 0px;
}

Intro
#intro {
    background-image: url('../images/intro2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: left;
}

#intro > h1 {
    text-transform: uppercase;
    margin: 700px 0 0 50px;
    font-size: 34px;
    display: inline-block;
    color: black;
}

// Intro

Aloitus

#aloitus {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;   
}
#aloitus .column {
    padding: 0 10px;
    text-align: left;
    width: 40%;
    display: inline-block;
}
#aloitus .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#aloitus img {
    width: 100%;

}

// Aloitus


// Keskiosa

#keskiosa {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;
}
#keskiosa .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#keskiosa .column {
    width: 300px;
    margin: 0 10px;
    background-color: rgba(49,49,49, 0.5);
}
#keskiosa .column img {
    width: 100%;
}
#keskiosa .column p {
    padding: 5px 10px;
}

// Keskiosa

// Keskiosa 2

#keski2 {
    background-image: url("../images/pic2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 200px;
}

#keski2 > h1 {
    text-transform: uppercase;
}

#keski2 > .keski2-statement {
    width: 60%;
    padding-top: 50px;
    display: inline-block;
}

// Keskiosa 2

// nstagram 

#instagram {
    background-color: #262626;
    text-align: center;
    padding-top: 30px;
}

#instagram > h2 {
    text-transform: uppercase;
}

#instagram .row {
    display: flex;

}

#instagram > a {
    width: 20%;
}

a:hover {
    opacity: 0.1;
    filter: alpha(opacity=50);
}

#instagram img {
    width: 100%;
}


// Instagram

// Pikkukuvat

#pikkukuvat {
    background-color: #262626;
    text-align: center;
    padding-top: 100px;
}

.pikkukuvat-wrapper {
    width: 60%;
    display: inline-block;
}

.pikkukuva {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(49,49,49, 0.75);
}

.pikkukuva img {
    height: 200px;
    border-radius: 50%;
}

.pikkukuva .text {
    padding: 5px 15px;
}

// Pikkukuvat


// Contact me

footer {
    background-color: #313131;
    text-align: center;
    padding-top: 100px;
    height: 400px;
}

footer div {
    width: 60%;
    padding-top: 50px;
    display: inline-block;
}


 // Contact me */


